<app-header titulo="List reorder"></app-header>

<ion-content>
  <ion-list>
    <ion-buttons slot="end">
      <ion-button (click)="reorderDisabled = !reorderDisabled">
        Toggle
      </ion-button>
    </ion-buttons>
  </ion-list>



  <ion-list>

    <ion-reorder-group [disabled]="reorderDisabled" (ionItemReorder)="doReorder($event)">

      <ion-item *ngFor="let personaje of personajes">
        <ion-label>{{ personaje }}</ion-label>
        <ion-reorder slot="end"></ion-reorder>
      </ion-item>

    </ion-reorder-group>

  </ion-list>

</ion-content>
