<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button color="primary" defaultHref="/" text="Regresar"></ion-back-button>
    </ion-buttons>

    <ion-title color="primary">Avatar</ion-title>

    <ion-buttons slot="end">
      <ion-avatar>
        <img src="/assets/original.jpg" />
      </ion-avatar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-chip color="primary" outline="true">
    <ion-avatar>
      <img src="/assets/original.jpg" />
    </ion-avatar>
    <ion-label>Chip Avatar</ion-label>
  </ion-chip>

  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <img src="/assets/original.jpg"/>
      </ion-avatar>
      <ion-label>Stan Lee</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
